@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Space Mono', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: dodgerblue;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}
.navbar{
    position: fixed;
    display: none;
}
.navbar ul * {
    display: inline;
    padding-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.navbar ul *:hover{
    text-decoration: underline white;
}
.navbar ul {
    position: fixed;
    right: 0em;
}
.logo{
    margin-top: -.2em;
    position: fixed;
    font-size: 3.5em;
    padding: 5px;
    font-family: 'Bebas Neue', 'sans-serif';
}