.Login, .Register {
    height: 100vh;
    position: relative;
    top: 20%;
}
.input {
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.01);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 330px;
    height: 50px;
    transition: .3s;
    padding-left: 20px;
    margin: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 17px;
    outline: none;
}
.input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 17px;
    position: relative;
}
.input:hover {
    border: 1px solid #f1f1f1;
    background: rgba(0, 0, 0, 0.05);
}
.Title {
    font-size: 2.1em;
    position: relative;
    top: -60px;
    font-weight: 500;
}
.Description {
    font-size: 1.2em;
    position: relative;
    top: -10px;
    font-weight: 300;
}
.button {
    margin: 10px;
    width: 330px;
    height: 50px;
    transition: .3s;
    background-color: rgb(246, 213, 172);
    border: 1px solid transparent;
    border-radius: 25px;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(249, 209, 159);
}
.BottomLine {
    font-size: small;
}
.a{
    text-decoration: none;
    color: #f1f1f1;
}